h1{
    font-size: 40px;
    left: 45%;
    top: 0%;
    position: fixed;
    color: white;
}

.header{
    height: 90px;
    width: 100%;
    top: 0%;
    background-color: orange;
}

.mapbox{
    height: 500px;
    width: 80%;
    left: 10%;
    top: 15%;
    position: fixed;
    border-style: solid;
    border-width: 8px;
}

.saveButton{
    height: 50px;
    width: 150px;
    position: fixed;
    font-size: 20px;
    top: 90%;
    left: 45%;
}

h2{
    top: 90%;
    left: 80%;
    position: fixed;
}

#root{
    height: 100%;
}