#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 65%;
  width: 60%;
  top: 20%;
  left: 20%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

#training-plan-div{
  background-color: blueviolet;
  position: fixed;
  width: 50%;
  height: 100%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.background-pocket{
  width: 624px;
  height: 604px;
  left: 32%;
  top: 10%;
  position: fixed;
  background-image:url('./Pocket.png');
}

.home-background{
  width: 100%;
  height: 100%;
  background-color: darkslategray;
}

#undo-button {
  position: fixed;
  top: 20%;
  left: 10%;
  background-color: gray;
}


h1{
  font-size: 50px;
  left: 42%;
  position: fixed;
  color: white;
  border-radius: 2px;
}

#header-container{
  width: 100%;
  background-color: lightsalmon;
  height: 15%;
  top: 1%;
  position: fixed;
}

h2{
  color: black;
  font-size: 30px;
  top: 85%;
  left: 20%;
  position: fixed;
}

h3{
  color:black;
  font-size: 50px;
}

.title{
  color:white;
  top: 5%;
  position: fixed;
  font-size: 60px;
  left: 40%;
}

#tomapbutton{
  background-color:bisque;
  height: 75px;
  width: 250px;
  position:fixed;
  font-size: 20px;
  top: 45%;
  left: 44%;
}

#toschedulebutton{
  background-color:bisque;
  height: 75px;
  width: 250px;
  position:fixed;
  font-size: 20px;
  top: 65%;
  left: 44%;
}

#header-background{
  background-color: white;
}

#save-button{
  height: 50px;
  width: 150px;
  position: fixed;
  font-size: 15px;
  top: 90%;
  left: 47%;
}

.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 90%;
  left: 40%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: lightcoral;
}

input:focus + .slider {
  box-shadow: 0 0 1px lightcoral;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}